<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="text-center bg-black">
<header>
    <div class="header-inner">
        <h3 class="master-title">Cristopher's Blog</h3>
        <nav class="nav master-nav justify-content-center">
            <a class="nav-link" href="index.html">Home</a>
            <a class="nav-link" href="projects.html">Projects</a>
            <a class="nav-link" href="studies.html">Studies</a>
            <a class="nav-link" href="hobbies.html">Hobbies</a>
        </nav>
    </div>
</header>
<main role="main">
    <section id="gallery-section">
        <div id="gallery-container" class="col-md-10">
            <div class="col-md-6">
                <div class="image-xl">
                    <div id="soccer-image" class="gallery-image"></div>
                    <div class="gallery-text">Soccer</div>
                </div>
                <div class="image-xs">
                    <div id="table-tennis-image" class="gallery-image"></div>
                    <div class="gallery-text">Table Tennis</div>
                </div>
                <div class="image-xl">
                    <div id="computer-image" class="gallery-image"></div>
                    <div class="gallery-text">Programming</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-xs">
                    <div id="chess-image" class="gallery-image"></div>
                    <div class="gallery-text">Chess</div>
                </div>
                <div class="image-xs">
                    <div id="guitar-image" class="gallery-image"></div>
                    <div class="gallery-text">Play the Guitar</div>
                </div>
                <div class="image-xl">
                    <div id="video-games-image" class="gallery-image"></div>
                    <div class="gallery-text">Video Games</div>
                </div>
                <div class="image-xs">
                    <div id="sing-image" class="gallery-image"></div>
                    <div class="gallery-text">To Sing</div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>