<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cristopher's Blog</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="text-center">
    <header>
        <div class="header-inner">
            <h3 class="master-title">Cristopher's Blog</h3>
            <nav class="nav master-nav justify-content-center">
                <a class="nav-link" href="index.html">Home</a>
                <a class="nav-link" href="projects.html">Projects</a>
                <a class="nav-link" href="studies.html">Studies</a>
                <a class="nav-link" href="hobbies.html">Hobbies</a>
            </nav>
        </div>
    </header>
    <main role="main">
        <section id="first_section" class="bg-black">
            <div class="home-header">
                <div class="home-header-text">
                    <h1 class="home-header-text-title">
                        My First Blog
                    </h1>
                    <p class="home-header-text-p">
                        This is my first blog.
                    </p>
                </div>
                <div class="home-header-image">
                    <div class="home-header-image-bg"></div>
                </div>
            </div>
        </section>
        <section id="second-section">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus neque justo, eu feugiat nisl eleifend vel. In eu eleifend tortor. Integer scelerisque tristique urna, ut bibendum ipsum imperdiet in. Curabitur id ex sed enim aliquet hendrerit sed vel urna. Quisque a nisi ac enim vulputate dignissim nec a nibh. Etiam sapien nisi, tincidunt at dictum vel, sollicitudin ut velit. Suspendisse mauris nulla, ullamcorper et suscipit vitae, malesuada et est. Maecenas efficitur porttitor sem a elementum. Morbi a congue elit. Quisque molestie velit eu neque hendrerit aliquam.

                Praesent luctus felis sit amet leo convallis, eget sagittis ligula vestibulum. Donec eu lorem a nisi placerat maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed mattis neque ac dui dapibus, tempus lacinia arcu mollis. Nunc elementum eget lacus a porta. Duis nibh ex, ultricies quis sodales lacinia, tempus maximus orci. Quisque pulvinar quam non ex laoreet, eget dignissim nulla semper. Aliquam erat volutpat.</p>
        </section>
    </main>
</body>
</html>