<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Studies</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="text-center bg-black">
<header>
    <div class="header-inner">
        <h3 class="master-title">Cristopher's Blog</h3>
        <nav class="nav master-nav justify-content-center">
            <a class="nav-link" href="index.html">Home</a>
            <a class="nav-link" href="projects.html">Projects</a>
            <a class="nav-link" href="studies.html">Studies</a>
            <a class="nav-link" href="hobbies.html">Hobbies</a>
        </nav>
    </div>
</header>
<main role="main">
    <section id="studies" class="col-md-12">
        <table id="studies-table">
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Reference</th>
            </tr>

            <tr>
                <td>Image Processing</td>
                <td class="description">Is the use of computer algorithms to perform image processing on digital images.</td>
                <td><a href="https://en.wikipedia.org/wiki/Digital_image_processing">Wikipedia</a></td>
            </tr>

            <tr>
                <td>High Performance Computing</td>
                <td class="description">refers to the practice of aggregating computing power in a way that delivers much higher performance than one could get out of a typical desktop computer or workstation in order to solve large problems in science, engineering, or business.</td>
                <td><a href="https://insidehpc.com/hpc-basic-training/what-is-hpc/">Inside HPC</a></td>
            </tr>

            <tr>
                <td>Database Management</td>
                <td class="description">The course emphasizes the understanding of the fundamentals of relational systems including data models, database architectures, and database manipulations. The course also provides an understanding of new developments and trends such as Internet database environment and data warehousing.</td>
                <td><a href="http://www2.cis.gsu.edu/cis/program/syllabus/undergraduate/3730CourseSyllabusSample.pdf">CIS</a></td>
            </tr>

            <tr>
                <td>Wireless and Mobile Networks</td>
                <td class="description">Introduction to Wireless and Mobile Networks, Wireless Transmission, MAC
                    Layer, Cellular networks, Satellite Networks, Wireless LAN, Broadband Wireless Access, WiMax:
                    Architectures and topologies, Mobile Network Layer, Mobile Transport Layer, Support for Mobility,
                    Wireless Sensor and Ad Hoc Networks, Game Theory for Wireless Networks.</td>
                <td><a href="http://mimoza.marmara.edu.tr/~omer.korcak/courses/CSE475/CSE475_Syllabus.pdf">Marmara</a></td>
            </tr>
        </table>
    </section>
</main>
</body>
</html>